<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>My Website</title>
</head>
<body class="bg-black">

<div class="grid grid-cols-5 gap-6">
    <div class="col-span-1  "> Instruments </div>
    <div class="col-span-1 bg-gray-300  grid grid-cols-4 content-center text-center  gap-1  ">
        <div class="size-12 bg-white">.</div>
        <div class="size-12 bg-white">.</div>
        <div class="size-12 bg-white">.</div>
        <div class="size-12 bg-white">.</div>

    </div>
    <div class="col-span-1  bg-gray-300 grid grid-cols-4 place-content-center text-center  gap-1  ">
        <div class="size-12 bg-white">.</div>
        <div class="size-12 bg-white">.</div>
        <div class="size-12 bg-white">.</div>
        <div class="size-12 bg-white">.</div>

    </div>
    <div class="col-span-1   grid grid-cols-4 place-content-center text-center  gap-1  ">
        <div class="size-12 bg-white">.</div>
        <div class="size-12 bg-white">.</div>
        <div class="size-12 bg-white">.</div>
        <div class="size-12 bg-white">.</div>

    </div>
    <div class="col-span-1   grid grid-cols-4 place-content-center text-center  gap-1  ">
        <div class="size-12 bg-white">.</div>
        <div class="size-12 bg-white">.</div>
        <div class="size-12 bg-white">.</div>
        <div class="size-12 bg-white">.</div>

    </div>   

</div>
</body>
</html>